<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exqoo.dao.SysUserDao">
	<resultMap id="BaseResultMap" type="com.exqoo.entity.SysUser">
		<id column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="opeanId" jdbcType="VARCHAR" property="opeanid" />
		<result column="wechat" jdbcType="VARCHAR" property="wechat" />
		<result column="location" jdbcType="VARCHAR" property="location" />
		<result column="working_life" jdbcType="VARCHAR" property="workingLife" />
		<result column="org" jdbcType="VARCHAR" property="org" />
		<result column="areas_of_expertise_id" jdbcType="BIGINT"
			property="areasOfExpertiseId" />
		<result column="certificate_url" jdbcType="VARCHAR" property="certificateUrl" />
		<result column="sex" jdbcType="TINYINT" property="sex" />
		<result column="ip" jdbcType="VARCHAR" property="ip" />
		<result column="nickname" jdbcType="VARCHAR" property="nickname" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.exqoo.entity.SysUser">
		<result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
	</resultMap>
	
	<select id="selectUserLawyerById" resultType="SysUser">
	SELECT
	sys_user.username,
	sys_user.`password`,
	sys_user.email,
	sys_role.role_name,
	sys_role.role_id,
	sys_user.user_id,
	sys_user.mobile,
	sys_user.`status`,
	sys_user.create_time,
	sys_user.remarks,
	sys_user.opeanId,
	sys_user.wechat,   
	sys_user.location,
	sys_user.working_life,
	sys_user.org,
	sys_user.areas_of_expertise_id,
	sys_user.certificate_url,
	sys_user.sex,
	sys_user.ip,
	sys_user.nickname
	FROM
	sys_user
	INNER JOIN sys_user_role ON
	sys_user_role.user_id = sys_user.user_id
	INNER JOIN sys_role ON
	sys_user_role.role_id = sys_role.role_id
	WHERE
	sys_user.user_id =
	sys_user_role.user_id AND
	sys_role.role_id = sys_user_role.role_id AND
	sys_role.role_id=#{roleId}
	</select>
	
	<update id="updateLawyerUser">
		update sys_user set status='0' where user_id=#{userId}
	</update>
	
	<update id="updateBackstage">
		update sys_user set username=#{username},
		nickname=#{nickname},password=#{password},
		email=#{email},status=#{status},remarks=#{remarks} 
		where user_id=#{userId}
	</update>

	<!-- 后台组模糊查询 -->
	<select id="BackstageDim" resultType="com.exqoo.entity.SysUser">
		SELECT
	sys_user.username,
	sys_user.`password`,
	sys_user.email,
	sys_role.role_name,
	sys_role.role_id,
	sys_user.user_id,
	sys_user.mobile,
	sys_user.`status`,
	sys_user.create_time,
	sys_user.remarks,
	sys_user.opeanId,
	sys_user.wechat,   
	sys_user.location,
	sys_user.working_life,
	sys_user.org,
	sys_user.areas_of_expertise_id,
	sys_user.certificate_url,
	sys_user.sex,
	sys_user.ip,
	sys_user.nickname
	FROM
	sys_user
	INNER JOIN sys_user_role ON
	sys_user_role.user_id = sys_user.user_id
	INNER JOIN sys_role ON
	sys_user_role.role_id = sys_role.role_id
	WHERE
	sys_user.user_id =
	sys_user_role.user_id AND
	sys_role.role_id = sys_user_role.role_id AND
	sys_role.role_id=#{roleId}
		<if test="username != null and username.trim() !=''">
			AND sys_user.username like CONCAT('%',#{username},'%')
		</if>
		<if test="status != null">
			AND sys_user.status =#{status}
		</if>
		<if
			test="time1!=null and time2!=null and time1.trim()!='' and time2.trim()!='' ">
			AND sys_user.create_time BETWEEN #{time1} and #{time2}
		</if>
	</select>
</mapper>