<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.share.platform.console.mapper.zx.ZxFileManagerABMapper">
  <resultMap id="BaseResultMap" type="com.zx.share.platform.bean.zx.ZxFileManagerAB">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="file_code" jdbcType="VARCHAR" property="fileCode" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="file_num" jdbcType="INTEGER" property="fileNum" />
    <result column="abstracts" jdbcType="LONGVARCHAR" property="abstracts" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
  </resultMap>
  
  
  	<select id="queryList" resultType="com.zx.share.platform.bean.zx.ZxFileManagerAB"
		resultMap="BaseResultMap">
		SELECT
		zx_file_manager_ab.id,
		zx_file_manager_ab.file_code,
		zx_file_manager_ab.file_name,
		zx_file_manager_ab.category_id,
		zx_file_manager_ab.file_url,
		zx_file_manager_ab.file_num,
		zx_file_manager_ab.abstracts,
		zx_file_manager_ab.create_time,
		zx_file_manager_ab.create_id,
		zx_file_manager_ab.update_time,
		zx_file_manager_ab.update_id,
		zx_file_manager_ab.category_code
		FROM
		zx_file_manager_ab

		<where>
			<if test="fileName != null and fileName.trim() != ''">
				and zx_file_manager_ab.file_name like
				concat('%',#{fileName},'%')
			</if>
			<if test="categoryId != null and categoryId != 0">
				and zx_printer_manager.id = #{categoryId}
			</if>
		</where>
	</select>
</mapper>