<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.share.platform.console.mapper.zx.ZxFileManagerCDEMapper">
	<resultMap id="BaseResultMap"
		type="com.zx.share.platform.bean.zx.ZxFileManagerCDE">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="file_code" jdbcType="VARCHAR" property="fileNode" />
		<result column="file_name" jdbcType="VARCHAR" property="fileName" />
		<result column="category_id" jdbcType="BIGINT" property="categoryId" />
		<result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
		<result column="file_num" jdbcType="INTEGER" property="fileNum" />
		<result column="abstracts" jdbcType="LONGVARCHAR" property="abstracts" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_id" jdbcType="BIGINT" property="createId" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_id" jdbcType="BIGINT" property="updateId" />
		<result column="manager_id" jdbcType="BIGINT" property="managerId" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="category_code" jdbcType="VARCHAR" property="categoryCode" />
		<result column="user_code" jdbcType="VARCHAR" property="userCode" />
		<result column="manager_code" jdbcType="VARCHAR" property="managerCode" />
		<association property="sysDictionary"
			javaType="com.zx.share.platform.bean.sys.SysDictionary">
			<result column="type" jdbcType="VARCHAR" property="type" />
			<result column="name" jdbcType="VARCHAR" property="name" />
			<result column="parent_id" jdbcType="VARCHAR" property="parentId" />
			<result column="value" jdbcType="VARCHAR" property="value" />
		</association>
		<association property="zxUser"
			javaType="com.zx.share.platform.bean.zx.ZxUser">
			<result column="id" jdbcType="BIGINT" property="id" />
			<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		</association>
		<association property="lawyer"
			javaType="com.zx.share.platform.bean.zx.ZxUser">
			<result column="id" jdbcType="BIGINT" property="id" />
			<result column="lawyer_nickname" jdbcType="VARCHAR" property="nickname" />
		</association>
	</resultMap>

	<select id="queryList" resultType="com.zx.share.platform.bean.zx.ZxFileManagerCDE"
		resultMap="BaseResultMap">
		SELECT
		zx_file_manager_cde.id,
		zx_file_manager_cde.file_name,
		zx_file_manager_cde.user_id,
		zx_user.nickname,
		lawyer.nickname AS
		lawyer_nickname,
		sys_dictionary.type,
		sys_dictionary.`name`,
		sys_dictionary.`value`
		FROM
		zx_file_manager_cde
		INNER JOIN zx_user AS
		lawyer ON zx_file_manager_cde.manager_id = lawyer.id
		INNER JOIN zx_user
		ON zx_file_manager_cde.user_id = zx_user.id
		INNER JOIN sys_dictionary
		ON zx_file_manager_cde.category_id =
		sys_dictionary.id
		<where>
			zx_file_manager_cde.user_id=zx_user.id
			and
			sys_dictionary.type =#{type}
			<if test="userName != null and userName.trim() != ''">
				and zx_user.nickname like
				concat('%',#{userName},'%')
			</if>
			<if test="fileName != null and fileName.trim() != ''">
				and zx_file_manager_cde.file_name like
				concat('%',#{fileName},'%')
			</if>
			<if
				test="endTime != null and startTime != null and startTime.trim() != '' and endTime.trim() != ''">
				and zx_user.create_time between #{startTime} and
				#{endTime}
			</if>
		</where>
	</select>

	<delete id="delectList">
		delete from zx_file_manager_cde where id
		in (#{ids})
	</delete>
</mapper>