<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.share.platform.console.mapper.zx.ZxOrderMapper">
	<resultMap id="baseResultMap" type="com.zx.share.platform.bean.zx.ZxOrder">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="order_code" jdbcType="VARCHAR" property="orderCode" />
		<result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="order_num" jdbcType="VARCHAR" property="orderNum" />
		<result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
		<result column="pay_id" jdbcType="BIGINT" property="payId" />
		<result column="pay_code" jdbcType="VARCHAR" property="payCode" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_id" jdbcType="BIGINT" property="createId" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_id" jdbcType="BIGINT" property="updateId" />
		<result column="printer_id" jdbcType="BIGINT" property="printerId" />
		<result column="printer_code" jdbcType="VARCHAR" property="printerCode" />
		<result column="order_user_code" jdbcType="VARCHAR" property="orderUserCode" />
		<result column="order_user_id" jdbcType="BIGINT" property="orderUserId" />
		<result column="order_amount" jdbcType="DOUBLE" property="orderAmount" />
		<result column="attorney_id" jdbcType="BIGINT" property="attorneyId" />
		<result column="attorney_code" jdbcType="VARCHAR" property="attorneyCode" />
		<result column="pay_type" jdbcType="VARCHAR" property="payType" />
		<result column="service_amount" jdbcType="DOUBLE" property="serviceAmount" />
		<result column="printer_amount" jdbcType="DOUBLE" property="printerAmount" />
		<result column="remark" jdbcType="LONGVARCHAR" property="remark" />
	</resultMap>


	<resultMap type="com.zx.share.platform.bean.zx.ZxOrder" id="orderList"
		extends="baseResultMap">
		<association property="lawyer"
			javaType="com.zx.share.platform.bean.zx.ZxUser">
			<result column="lawyer_nickname" jdbcType="VARCHAR" property="nickname" />
		</association>
		<association property="sysUser"
			javaType="com.zx.share.platform.bean.sys.SysUser">
			<result column="real_name" jdbcType="VARCHAR" property="realName" />
		</association>
		<association property="zxUser"
			javaType="com.zx.share.platform.bean.zx.ZxUser">
			<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		</association>
		<association property="zxPrinterManager"
			javaType="com.zx.share.platform.bean.zx.ZxPrinterManager">
			<result column="printer_code" jdbcType="VARCHAR" property="printerCode" />
		</association>
	</resultMap>

	<resultMap type="com.zx.share.platform.bean.zx.ZxOrder" id="orderInfo"
		extends="baseResultMap">
		<association property="lawyer"
			javaType="com.zx.share.platform.bean.zx.ZxUser">
			<result column="lawyer_nickname" jdbcType="VARCHAR" property="nickname" />
		</association>
		<association property="zxUser"
			javaType="com.zx.share.platform.bean.zx.ZxUser">
			<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		</association>
		<association property="sysUser"
			javaType="com.zx.share.platform.bean.sys.SysUser">
			<result column="real_name" jdbcType="VARCHAR" property="realName" />
		</association>
		<association property="zxPrinterManager"
			javaType="com.zx.share.platform.bean.zx.ZxPrinterManager">
			<result column="printer_code" jdbcType="VARCHAR" property="printerCode" />
			<result column="manager_name" property="managerName" jdbcType="VARCHAR" />
			<result column="manager_phone" property="managerPhone"
				jdbcType="VARCHAR" />
		</association>
		<association property="zxOrderPrinterFile"
			javaType="com.zx.share.platform.bean.zx.ZxOrderPrinterFile">
			<result column="file_id" property="fileId" jdbcType="BIGINT" />
			<result column="file_type" property="fileType" jdbcType="VARCHAR" />
			<result column="file_paper" property="filePaper" jdbcType="INTEGER" />
			<result column="printer_num" property="printerNum" jdbcType="INTEGER" />
			<result column="paper_type" property="paperType" jdbcType="INTEGER" />
			<result column="paper_colcor" property="paperColcor" jdbcType="BIGINT" />
			<result column="paper_usage" property="paperUsage" jdbcType="BIGINT" />
		</association>
	</resultMap>
	<select id="selectSum" resultType="Integer">
		select sum(order_amount) from zx_order
	</select>
	<select id="queryList" resultMap="orderList">
		SELECT
		zx_order.id,
		zx_order.pay_time,
		zx_order.order_num,
		zx_user.nickname,
		lawyer.nickname AS lawyer_nickname,
		zx_printer_manager.printer_code,
		zx_order.order_amount,
		sys_user.real_name,
		zx_order.service_amount,
		zx_order.printer_amount,
		zx_order.pay_type,
		zx_order.`status`
		FROM
		zx_order
		INNER JOIN
		zx_printer_manager ON
		zx_order.printer_id =
		zx_printer_manager.id
		INNER
		JOIN sys_user ON
		zx_printer_manager.create_id = sys_user.id
		INNER JOIN
		zx_user ON
		zx_order.order_user_id = zx_user.id
		INNER JOIN zx_user AS
		lawyer ON
		zx_order.attorney_id = lawyer.id
		<where>
			<if test="printCode != null and printCode.trim() != ''">
				and zx_printer_manager.printer_code like
				concat('%',#{printCode},'%')
			</if>
			<if test="printName != null and printName.trim() != ''">
				and sys_user.real_name like
				concat('%',#{printName},'%')
			</if>
			<if test="printHostId != null and printHostId != 0 ">
				and zx_order.create_id = #{printHostId}
			</if>
			<if test="lawyerName != null and lawyerName.trim() != ''">
				and lawyer.nickname like
				concat('%',#{lawyerName},'%')
			</if>
			<if test="time1 != null and time2 != null">
				and zx_order.pay_time between #{time1} and
				#{time2}
			</if>
		</where>
	</select>

	<select id="queryByOrderId" resultMap="orderInfo">
		SELECT
		zx_order.pay_time,
		zx_order.order_num,
		zx_user.nickname,
		lawyer.nickname AS lawyer_nickname,
		zx_printer_manager.printer_code,
		zx_order.order_amount,
		zx_printer_manager.manager_name,
		zx_printer_manager.manager_phone,
		zx_order_printer_file.paper_usage,
		zx_order_printer_file.paper_colcor,
		zx_order_printer_file.paper_type,
		zx_order_printer_file.printer_num,
		zx_order_printer_file.file_paper,
		sys_user.real_name,
		zx_order_printer_file.file_id,
		zx_order_printer_file.file_type,
		zx_order.service_amount,
		zx_order.printer_amount,
		zx_order.pay_type,
		zx_order.`status`
		FROM
		zx_order
		INNER JOIN
		zx_order_printer_file ON zx_order.id =
		zx_order_printer_file.order_id
		INNER JOIN zx_printer_manager ON
		zx_order.printer_id =
		zx_printer_manager.id
		INNER JOIN sys_user ON
		zx_printer_manager.create_id = sys_user.id
		INNER JOIN zx_user ON
		zx_order.order_user_id = zx_user.id
		INNER JOIN zx_user AS lawyer ON
		zx_order.attorney_id = lawyer.id
		WHERE
		zx_order.id =
		#{id}
	</select>

</mapper>