<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.share.platform.console.mapper.zx.ZxPrinterManagerMapper">
	<resultMap id="BaseResultMap"
		type="com.zx.share.platform.bean.zx.ZxPrinterManager">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="printer_code" jdbcType="VARCHAR" property="printerCode" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="longitude" jdbcType="DOUBLE" property="longitude" />
		<result column="latitude" jdbcType="DOUBLE" property="latitude" />
		<result column="province" jdbcType="VARCHAR" property="province" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="area" jdbcType="VARCHAR" property="area" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_id" jdbcType="BIGINT" property="createId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_id" jdbcType="BIGINT" property="updateId" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="manager_name" jdbcType="VARCHAR" property="managerName" />
		<result column="manager_phone" jdbcType="VARCHAR" property="managerPhone" />
		<!-- 关联的物主信息 -->
		<association property="zxUser"
			javaType="com.zx.share.platform.bean.zx.ZxUser">
			<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		</association>
		<association property="zxUserPrinter"
			javaType="com.zx.share.platform.bean.zx.ZxUserPrinter">
			<id column="up_id" jdbcType="BIGINT" property="id" />
			<result column="status" jdbcType="INTEGER" property="status" />
		</association>
	</resultMap>

	<select id="queryList" resultType="com.zx.share.platform.bean.zx.ZxPrinterManager"
		resultMap="BaseResultMap">
		SELECT DISTINCT
		zx_printer_manager.id,
		zx_printer_manager.printer_code,
		zx_printer_manager.`name`,
		zx_printer_manager.longitude,
		zx_printer_manager.latitude,
		zx_printer_manager.province,
		zx_printer_manager.city,
		zx_printer_manager.area,
		zx_printer_manager.address,
		zx_printer_manager.remark,
		zx_printer_manager.create_id,
		zx_printer_manager.create_time,
		zx_printer_manager.update_id,
		zx_printer_manager.update_time,
		zx_printer_manager.manager_name,
		zx_printer_manager.manager_phone,
		zx_user_printer.`status`,
		zx_user.nickname,
		zx_user_printer.id as up_id
		FROM
		zx_printer_manager
		LEFT JOIN zx_user_printer ON zx_user_printer.printer_id =
		zx_printer_manager.id
		LEFT JOIN zx_user ON zx_user_printer.user_id = zx_user.id
		<where>
			<if test="zxPMId != null and zxPMId != 0">
				and zx_printer_manager.id = #{zxPMId}
			</if>
			<if test="printerCode != null and printerCode.trim() != ''">
				and zx_printer_manager.printer_code like
				concat('%',#{printerCode},'%')
			</if>
			<if test="nickname != null and nickname.trim() != ''">
				and zx_user.nickname like concat('%',#{nickname},'%')
			</if>
			<if test="address != null and address.trim() != ''">
				and zx_printer_manager.address like
				concat('%',#{address},'%')
			</if>
			<if test="status != null and status.trim() != ''">
				and zx_user_printer.`status` = #{status}
			</if>
			<if
				test="startTime != null and endTime != null and startTime.trim() != '' and endTime.trim() != ''">
				and zx_printer_manager.create_time between #{startTime} and
				#{endTime}
			</if>
		</where>
	</select>


</mapper>