<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.share.platform.console.mapper.zx.ZxUserMapper">
	<resultMap id="Map" type="com.zx.share.platform.bean.zx.ZxUser">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="user_code" jdbcType="VARCHAR" property="userCode" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		<result column="portrait" jdbcType="VARCHAR" property="portrait" />
		<result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="open_id" jdbcType="VARCHAR" property="openId" />
		<result column="union_id" jdbcType="VARCHAR" property="unionId" />
		<result column="user_type" jdbcType="INTEGER" property="userType" />
		<result column="province" jdbcType="VARCHAR" property="province" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="area" jdbcType="VARCHAR" property="area" />
		<result column="addres" jdbcType="VARCHAR" property="address" />
		<result column="age" jdbcType="INTEGER" property="age" />
		<result column="wechat_id" jdbcType="VARCHAR" property="wechatId" />
		<result column="is_lock" jdbcType="VARCHAR" property="isLock" />
		<result column="gen" jdbcType="VARCHAR" property="gen" />
		<association property="zxUserPrinter"
			javaType="com.zx.share.platform.bean.zx.ZxUserPrinter">
			<result column="status" jdbcType="INTEGER" property="status" />
			<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		</association>
		<association property="zxUserAttorney"
			javaType="com.zx.share.platform.bean.zx.ZxUserAttorney">
			<result column="domain" jdbcType="VARCHAR" property="domain" />
			<result column="work_num" jdbcType="VARCHAR" property="workNum" />
			<result column="work_year" jdbcType="VARCHAR" property="workYear" />
			<result column="work_org" jdbcType="VARCHAR" property="workOrg" />
			<result column="identity_card_img" jdbcType="VARCHAR"
				property="IdentityCardImg" />
			<result column="attorney_card_img" jdbcType="VARCHAR"
				property="attorneyCardImg" />
			<result column="check_img" jdbcType="VARCHAR" property="checkImg" />
		</association>
		<association property="zxUserAttorneyDomain"
			javaType="com.zx.share.platform.bean.zx.ZxUserAttorneyDomain">
			<result column="domain_code" jdbcType="VARCHAR" property="domainCode" />
			<result column="domain_id" jdbcType="BIGINT" property="domainId" />
		</association>
	</resultMap>
	<!-- 律师审核单行遍历 -->
	<select id="queryByZxPMId" resultType="ZxUser" resultMap="Map">
		SELECT
		zx_user.username,
		zx_user.gen,
		zx_user.age,
		zx_user.portrait,
		zx_user.mobile,
		zx_user.wechat_id,
		zx_user.province,
		zx_user.city,
		zx_user.area,
		zx_user.addres,
		zx_user_attorney.work_year,
		zx_user_attorney.work_org,
		zx_user_attorney.work_num,
		zx_user_attorney.domain,
		zx_user_attorney.identity_card_img,
		zx_user_attorney.attorney_card_img,
		zx_user_attorney.check_img,
		zx_user.id,
		zx_user.user_code,
		zx_user.`password`,
		zx_user.nickname,
		zx_user.register_time,
		zx_user.create_time,
		zx_user.update_time,
		zx_user.open_id,
		zx_user.union_id,
		zx_user.user_type,
		zx_user.user_status,
		zx_user.is_lock,
		zx_user_attorney.id,
		zx_user_attorney.user_id,
		zx_user_attorney.user_code
		FROM
		zx_user ,
		zx_user_attorney
		WHERE
		zx_user_attorney.user_id = zx_user.id

		AND zx_user.id=#{id}
	</select>


	<!-- 查询出全部未删除的律师用户管理数据 -->
	<select id="queryList" resultMap="Map">
		SELECT
		zx_user.id,
		zx_user.nickname,
		zx_user.username,
		zx_user.is_lock,
		zx_user.create_time
		FROM
		zx_user
		WHERE
		zx_user.user_type = 2
		<where>
			<if test="nickname != null and  nickname.trim() != ''">
				and zx_user.nickname like
				concat('%',#{nickname},'%')
			</if>
			<if test="status != null">
				and zx_user.is_lock = #{status}
			</if>
			<if
				test="startTime != null and endTime != null and startTime.trim() != '' and endTime.trim() != ''">
				and zx_user.create_time between #{startTime} and
				#{endTime}
			</if>
		</where>
	</select>
	<!-- 设备列表添加线上管理员 -->
	<select id="selectOnlineAdmin" resultType="ZxUser" resultMap="Map">
		SELECT
		zx_user.id,
		zx_user.username,
		zx_user_printer.`status`,
		zx_user_printer.create_time,
		zx_user_attorney.domain
		FROM
		zx_user ,
		zx_user_printer ,
		zx_user_attorney
		WHERE
		zx_user_printer.user_id =
		zx_user.id AND
		zx_user.id = zx_user_attorney.user_id AND
		zx_user_printer.status=0
	</select>
	<!-- 设备列表添加线上管理员查看功能 -->
	<select id="selectOnlineAdminById" resultType="ZxUser"
		resultMap="Map">
		SELECT
		zx_user.id,
		zx_user.username,
		zx_user_printer.`status`,
		zx_user_printer.create_time,
		zx_user_attorney.domain
		FROM
		zx_user ,
		zx_user_printer ,
		zx_user_attorney
		WHERE
		zx_user_printer.user_id =
		zx_user.id AND
		zx_user.id = zx_user_attorney.user_id AND
		zx_user_printer.status=0 AND
		zx_user.id=#{id}

	</select>
	<!-- 设备列表添加线上管理员模糊查询 -->
	<select id="" resultType="ZxUser" resultMap="Map">

	</select>
	<!-- 设备管理线上管理员分页遍历 -->
	<select id="selectAdminByPage" resultMap="Map">
		SELECT
		zx_user.id,
		zx_user.nickname,
		zx_user_printer.`status`,
		zx_user_printer.create_time,
		zx_user_attorney.domain
		FROM
		zx_user
		INNER
		JOIN
		zx_user_printer
		ON zx_user_printer.user_id =
		zx_user.id
		INNER JOIN
		zx_user_attorney
		ON zx_user.id =
		zx_user_attorney.user_id
		WHERE
		zx_user_printer.status=0 And
		zx_user.user_type=2
	</select>

	<!-- 设备管理线上管理员查看功能 -->
	<select id="selectZxAdminById" resultMap="Map">
		SELECT
		zx_user.id,
		zx_user.username,
		zx_user.mobile,
		zx_user.`wechat_id`,
		zx_user.`age`,
		zx_user.`province`,
		zx_user.`city`,
		zx_user.`area`,
		zx_user.`addres`,
		zx_user_attorney.`work_num`,
		zx_user_attorney.`work_org`,
		zx_user_attorney.`work_year`,
		zx_user_attorney.`identity_card_img`,
		zx_user_attorney.`attorney_card_img`,
		zx_user_attorney.`check_img`,
		zx_user_attorney_domain.`domain_code`,
		zx_user_attorney_domain.`domain_id`
		FROM
		zx_user
		INNER JOIN
		zx_user_attorney
		ON
		zx_user.id = zx_user_attorney.user_id
		INNER JOIN
		zx_user_attorney_domain
		ON
		zx_user.`id`=zx_user_attorney_domain.`user_id`
		WHERE
		zx_user.id=#{id}
	</select>
</mapper>