<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.share.platform.console.mapper.sys.SysLawyerUserMapper">
  <resultMap id="BaseResultMap" type="com.zx.share.platform.bean.sys.SysUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="is_lock" jdbcType="VARCHAR" property="isLock" />
    <result column="is_del" jdbcType="VARCHAR" property="isDel" />
    <result column="is_admin" jdbcType="VARCHAR" property="isAdmin" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="opening_bank" jdbcType="VARCHAR" property="openingBank" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="account_number" jdbcType="VARCHAR" property="accountNumber" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
  </resultMap>
  
  <!-- 查询出全部未删除的律师用户管理数据 -->
 <select id="selectLawyerUserAll" resultType="SysUser" resultMap="BaseResultMap">
 		
	SELECT * FROM
	zx_user
	WHERE
	user_type=2
	
 </select>
 <!-- 禁用功能 -->
 <update id="updateLawyerUser">
 		update sys_user set is_lock=1 where id=#{userId}
 </update>
 
 <!-- 模糊查詢 -->

  <select id="selectLawyerUserDim" resultType="SysUser" resultMap="BaseResultMap">
	SELECT * FROM
	sys_user
	INNER JOIN sys_user_role ON
	sys_user_role.user_id =
	sys_user.id
	INNER JOIN sys_role ON
	sys_user_role.role_id = sys_role.id
	WHERE
	sys_user.id =
	sys_user_role.user_id AND
	sys_role.id =
	sys_user_role.role_id AND
	sys_user.is_del='0' AND
	sys_role.id=5
  		<if test="name != null and name.trim() !=''">
			 AND name like CONCAT('%',#{name},'%')
		</if>
		<if test="perms != null">
			 AND perms =#{perms} 
		</if>
		<if test="time1!=null and time2!=null and time1.trim()!='' and time2.trim()!='' ">
			 AND create_time BETWEEN #{time1} and #{time2}
		</if>
  </select> 
  
  <!-- 修改律师主用户管理数据 -->
 <update id="updateLawyerUserById">
 		
 		update sys_user u,sys_user_role r set u.username=#{userName},u.salt=#{salt},u.password=#{password},u.email=#{email},u.is_lock=#{isLock},u.comment=#{comment},r.role_id=#{roleId} 
 		where u.id=r.user_id and u.id=#{id}
 		
 </update>
</mapper>