<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>订单列表</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/static/lib/layui/css/modules/layer/default/layer.css}">
  	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>

	<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/static/plugins/jqgrid/ui.jqgrid-bootstrap.css}">
	<link rel="stylesheet" th:href="@{/static/plugins/ztree/css/metroStyle/metroStyle.css}">
	<link rel="stylesheet" th:href="@{/static/css/main.css}">
	<link rel="stylesheet" th:href="@{/static/css/deviceList.css}">
	 <link rel="stylesheet" type="text/css" th:href="@{/static/css/devicelist-manage.css}">
	
	<script th:src="@{/static/plugins/layer/layer.js}"></script>
	<script th:src="@{/static/libs/bootstrap.min.js}"></script>
	<script th:src="@{/static/libs/vue.min.js}"></script>
	<script th:src="@{/static/plugins/jqgrid/grid.locale-cn.js}"></script>
	<script th:src="@{/static/plugins/jqgrid/jquery.jqGrid.min.js}"></script>
	<script th:src="@{/static/plugins/ztree/jquery.ztree.all.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
	<script th:src="@{/static/js/common.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-body rrapp">
    	<div class="layui-row">
    	 	<div class="layui-col-md12 x-so layui-form-pane grid-btn container-fluid">
				<input class="layui-input" v-model="q.deviceCode" @keyup.enter="query" placeholder="输入设备码" >
				<input class="layui-input" v-model="q.deviceHost" @keyup.enter="query" placeholder="输入设备物主">
                <input class="layui-input" v-model="q.nickname" @keyup.enter="query" placeholder="律师用户名">
                <input class="layui-input" v-model="q.startTime"  placeholder="开始时间" id="start">
            	<input class="layui-input" v-model="q.endTime" placeholder="结束时间" id="end">
            	<a class="btn btn-default" @click="query">查询</a>
            </div>
		</div>
	<table id="jqGrid"></table>
	<div id="jqGridPager"></div>
</div>
<script th:src="@{/static/js/orderList.js}"></script>
</body>
</html>