<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.share.platform.console.api.modules.file.dao.ZxFileManagerABMapper">

	<select id="queryObject" resultType="com.zx.share.platform.bean.zx.ZxFileManagerAB">
		select * from zx_file_manager_ab where id = #{value}
	</select>

	<select id="queryList" resultType="com.zx.share.platform.bean.zx.ZxFileManagerAB">
		select ab.*,sd.name categoryName from zx_file_manager_ab ab join sys_dictionary sd on sd.id=ab.category_id where ab.status =1 and sd.type = #{type}
		<where>
			<if test="name!=null and name!=''">
				AND ab.create_id in (
				select id from sys_user where username like concat('%',#{name},'%')
				)
			</if>
			<if test="createId!=null and createId!=''">
				AND ab.create_id = #{createId}
			</if>

			<if test="startTime != null and startTime.trim() != '' ">
				AND ab.create_time &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime.trim() != ''">
				AND ab.create_time &lt;= #{endTime}
			</if>
			<if test="status!=null and status!=''">
				AND ab.status = #{status}
			</if>
			<if test="categoryId!=null and categoryId!=''">
				AND ab.category_idd = #{categoryId}
			</if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="queryTotal" resultType="int">
		select count(*) from zx_file_manager_ab ab join sys_dictionary sd on sd.id=ab.category_id  where  ab.status =1 and  sd.type = #{type}
		<where>
			<if test="name!=null and name!=''">
				AND ab.create_id in (
				select id from sys_user where username like concat('%',#{name},'%')
				)
			</if>
			<if test="createId!=null and createId!=''">
				AND ab.create_id = #{createId}
			</if>

			<if test="startTime != null and startTime.trim() != '' ">
				AND ab.create_time &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime.trim() != ''">
				AND ab.create_time &lt;= #{endTime}
			</if>
			<if test="status!=null and status!=''">
				AND ab.status = #{status}
			</if>
			<if test="categoryId!=null and categoryId!=''">
				AND ab.category_idd = #{categoryId}
			</if>
		</where>
	</select>

	<insert id="save" parameterType="com.zx.share.platform.bean.zx.ZxFileManagerAB" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO zx_file_manager_ab(
			file_code,file_name,category_id,category_code,file_url,file_num,abstracts,create_id,create_time,status
		) VALUES (
			#{fileCode},#{fileName},#{categoryId},#{categoryCode},#{fileUrl},#{fileNum},#{abstracts},#{createId},NOW(),#{status}
		)
	</insert>

	<update id="update" parameterType="com.zx.share.platform.bean.zx.ZxFileManagerAB">
		UPDATE zx_file_manager_ab
		<set>
			file_code=#{fileCode},
			file_name=#{fileName},
			category_id=#{categoryId},
			category_code=#{categoryCode},
			file_url=#{fileUrl},
			file_num=#{fileNum},
			abstracts=#{abstracts},
			update_id=#{updateId},
			update_time=NOW(),
			status=#{status}
		</set>
		where id=#{id}
	</update>

	<delete id="delete">
		delete from zx_file_manager_ab where id = #{value}
	</delete>

	<update id="deleteBatch">
		update zx_file_manager_ab set status=0 where id in
		<foreach item="printerId" collection="array" open="(" separator="," close=")">
			#{printerId}
		</foreach>
	</update>

	<select id="dictionaryList" resultType="com.zx.share.platform.bean.sys.SysDictionary">
		select * from sys_dictionary where type = #{type}
	</select>
</mapper>