<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exqoo.dao.SysRealmDao">
	<resultMap id="BaseResultMap" type="com.exqoo.entity.SysRealm">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="realm_name" jdbcType="VARCHAR" property="realmName" />
		<result column="perms" jdbcType="VARCHAR" property="perms" />
	</resultMap>
	<select id="getUserPermissions" resultType="string">
		SELECT DISTINCT
		sys_realm.perms
		FROM
		sys_realm
		LEFT JOIN
		sys_role_reaml ON sys_role_reaml.realm_id = sys_realm.id
		LEFT JOIN
		sys_user_role ON sys_user_role.id = sys_user_role.id
		WHERE
		sys_user_role.user_id = #{userId}

	</select>
</mapper>