<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.share.platform.wechat.mapper.FileManagerMapper">

	<resultMap id="fileResultBean"
		type="com.zx.share.platform.vo.wechat.response.FileResultBean">
		<result column="id" jdbcType="BIGINT" property="id" />
		<result column="file_code" jdbcType="VARCHAR" property="fileCode" />
		<result column="file_name" jdbcType="VARCHAR" property="fileName" />
		<result column="category_code" jdbcType="VARCHAR" property="categoryCode" />
		<result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
		<result column="file_num" jdbcType="INTEGER" property="fileNum" />
		<result column="user_code" jdbcType="VARCHAR" property="userCode" />
		<result column="manager_code" jdbcType="VARCHAR" property="managerCode" />
		<result column="abstracts" jdbcType="VARCHAR" property="abstracts" />
	</resultMap>

	<select id="pageListab" resultMap="fileResultBean"
		parameterType="com.zx.share.platform.vo.wechat.request.FileQueryBean">
		select file_code,file_num,file_name,category_code,abstracts from
		zx_file_manager_ab WHERE 1=1
		<if test="categoryCode!=null and categoryCode!=''">
			AND category_code = #{categoryCode}
		</if>
		<if test="query!=null and query!=''">
			AND file_name like concat('%',#{query,jdbcType=VARCHAR},'%')
		</if>

		limit #{currentSize},#{pageSize}
	</select>

	<select id="pageCountab" resultType="java.lang.Integer"
		parameterType="com.zx.share.platform.vo.wechat.request.FileQueryBean">
		select count(1) from zx_file_manager_ab WHERE 1=1
		<if test="categoryCode!=null and categoryCode!=''">
			AND category_code = #{categoryCode}
		</if>
		<if test="query!=null and query!=''">
			AND file_name like #{query,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="pageListcde" resultMap="fileResultBean"
		parameterType="com.zx.share.platform.vo.wechat.request.FileQueryBean">
		select
		file_code,file_num,id,file_num,file_name,category_code,user_code,manager_code from
		zx_file_manager_cde WHERE 1=1
		<if test="categoryCode!=null and categoryCode!=''">
			AND category_code = #{categoryCode}
		</if>
		<if test="query!=null and query!=''">
			AND file_name like concat('%',#{query,jdbcType=VARCHAR},'%')
		</if>

		limit #{currentSize},#{pageSize}
	</select>

	<select id="pageCountcde" resultType="java.lang.Integer"
		parameterType="com.zx.share.platform.vo.wechat.request.FileQueryBean">
		select count(1) from zx_file_manager_cde WHERE 1=1
		<if test="categoryCode!=null and categoryCode!=''">
			AND category_code = #{categoryCode}
		</if>
		<if test="query!=null and query!=''">
			AND file_name like #{query,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="detailsab" resultMap="fileResultBean">
		select id,file_code,file_num,file_name,category_code,abstracts from
		zx_file_manager_ab where file_code = #{code}
	</select>

	<select id="detailscde" resultMap="fileResultBean">
		select
		id,file_code,file_num,file_name,category_code,user_code,manager_code,abstracts
		from zx_file_manager_cde where file_code = #{code}
	</select>
	
	<update id="deleteFile">
		delete from zx_file_manager_cde where id in 
		<foreach collection="array" item="ids"  open="(" separator="," close=")">
			#{ids}
		</foreach>
	</update>


</mapper>