<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.share.platform.wechat.mapper.PrinterMapper">


    <resultMap id="printerResultBean" type="com.zx.share.platform.vo.wechat.response.PrinterResultBean">
        <result column="printer_code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="arae" property="area" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="manager_name" property="managerName" jdbcType="VARCHAR"/>
        <result column="manager_phone" property="managerPhone" jdbcType="VARCHAR"/>
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="create_id" property="createId" />

    </resultMap>


    <sql id="selectSql">
        printer_code,name,province,city,area,address,manager_name,manager_phone,longitude,latitude,create_id
    </sql>

    <select id="all" resultMap="printerResultBean">
        select <include refid="selectSql"/> from zx_printer_manager
    </select>

    <select id="page" resultMap="printerResultBean" parameterType="com.zx.share.platform.vo.wechat.request.PrinterQueryBean">
        select <include refid="selectSql"/> from zx_printer_manager where 1=1
        <if test="userCode!=null and userCode!=''">
            AND user_code = #{userCode}
        </if>
        <if test="longitude!=null and longitude!=''">
            AND longitude BETWEEN #{startLongitude} AND #{endLongitude}
        </if>
        <if test="latitude!=null and latitude!=''">
            AND latitude BETWEEN #{startLatitude} AND #{endLatitude}
        </if>
        <if test="province!=null and province!=''">
            AND province=#{province}
        </if>
        <if test="city!=null and city!=''">
            AND city=#{city}
        </if>
        <if test="area!=null and area!=''">
            AND area=#{area}
        </if>
        <if test="query!=null and query!=''">
            AND name LIKE concat('%',#{query},'%')
        </if>

        limit #{currentSize},#{pageSize}
    </select>

    <select id="pageCount" resultType="java.lang.Integer" parameterType="com.zx.share.platform.vo.wechat.request.PrinterQueryBean">
        select count(1) from zx_printer_manager where 1=1
        <if test="userCode!=null and userCode!=''">
            AND user_code = #{userCode}
        </if>
        <if test="longitude!=null and longitude!=''">
            AND longitude BETWEEN #{startLongitude} AND #{endLongitude}
        </if>
        <if test="latitude!=null and latitude!=''">
            AND latitude BETWEEN #{startLatitude} AND #{endLatitude}
        </if>
    </select>

    <select id="nearby" resultMap="printerResultBean" parameterType="com.zx.share.platform.vo.wechat.request.PrinterQueryBean">
        select <include refid="selectSql"/> from zx_printer_manager where 1=1

            <if test="userCode!=null and userCode!=''">
                AND user_code = #{userCode}
            </if>
            <if test="longitude!=null and longitude!=''">
                AND longitude BETWEEN #{startLongitude} AND #{endLongitude}
            </if>
            <if test="latitude!=null and latitude!=''">
                AND latitude BETWEEN #{startLatitude} AND #{endLatitude}
            </if>
            <if test="province!=null and province!=''">
                AND province=#{province}
            </if>
            <if test="city!=null and city!=''">
                AND city=#{city}
            </if>
            <if test="area!=null and area!=''">
                AND area=#{area}
            </if>
            <if test="query!=null and query!=''">
                AND name LIKE concat('%',#{query},'%')
            </if>
    </select>

    <select id="attorneyPage" resultType="java.lang.String" parameterType="com.zx.share.platform.vo.wechat.request.PrinterQueryBean">
        select user_code from zx_user_printer where printer_code = #{printerCode}
        <if test="longitude!=null and longitude!=''">
            AND longitude BETWEEN #{startLongitude} AND #{endLongitude}
        </if>
        <if test="latitude!=null and latitude!=''">
            AND latitude BETWEEN #{startLatitude} AND #{endLatitude}
        </if>
        <if test="province!=null and province!=''">
            AND province=#{province}
        </if>
        <if test="city!=null and city!=''">
            AND city=#{city}
        </if>
        <if test="area!=null and area!=''">
            AND area=#{area}
        </if>
        <if test="query!=null and query!=''">
            AND name LIKE concat('%',#{query},'%')
        </if>
        limit #{currentSize},#{pageSize}
    </select>

    <select id="attorneyPageCount" resultType="java.lang.Integer" parameterType="com.zx.share.platform.vo.wechat.request.PrinterQueryBean">
        select count(1) from zx_user_printer where printer_code = #{printerCode}
        <if test="longitude!=null and longitude!=''">
            AND longitude BETWEEN #{startLongitude} AND #{endLongitude}
        </if>
        <if test="latitude!=null and latitude!=''">
            AND latitude BETWEEN #{startLatitude} AND #{endLatitude}
        </if>
        <if test="province!=null and province!=''">
            AND province=#{province}
        </if>
        <if test="city!=null and city!=''">
            AND city=#{city}
        </if>
        <if test="area!=null and area!=''">
            AND area=#{area}
        </if>
        <if test="query!=null and query!=''">
            AND name LIKE concat('%',#{query},'%')
        </if>
    </select>
    <select id="findByName" resultMap="printerResultBean" parameterType="long">
        select <include refid="selectSql"/> from zx_printer_manager
        WHERE create_id = #{createId}
    </select>
</mapper>