<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.share.platform.wechat.mapper.UserMapper">

    <resultMap id="userResultBean" type="com.zx.share.platform.vo.user.UserResultBean">
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="union_id" property="unionId" jdbcType="VARCHAR"/>
        <result column="open_id" property="openId" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="INTEGER"/>
        <result column="user_status" property="userStatus" jdbcType="INTEGER"/>
        <result column="is_lock" property="isLock"/>
    </resultMap>
    
    <resultMap id="Map" type="com.zx.share.platform.bean.zx.ZxUser">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="user_code" jdbcType="VARCHAR" property="userCode" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		<result column="portrait" jdbcType="VARCHAR" property="portrait" />
		<result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="open_id" jdbcType="VARCHAR" property="openId" />
		<result column="union_id" jdbcType="VARCHAR" property="unionId" />
		<result column="user_type" jdbcType="INTEGER" property="userType" />
		<result column="province" jdbcType="VARCHAR" property="province" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="area" jdbcType="VARCHAR" property="area" />
		<result column="addres" jdbcType="VARCHAR" property="address" />
		<result column="age" jdbcType="INTEGER" property="age" />
		<result column="wechat_id" jdbcType="VARCHAR" property="wechatId" />
		<result column="is_lock" jdbcType="VARCHAR" property="isLock" />
		<result column="gen" jdbcType="VARCHAR" property="gen" />
		<association property="zxPrinterManager"
			javaType="com.zx.share.platform.bean.zx.ZxPrinterManager">
			<result column="id" jdbcType="BIGINT" property="id" />
			<result column="name" jdbcType="VARCHAR" property="name" />
			<result column="printer_code" jdbcType="VARCHAR" property="printerCode" />
			<result column="province" jdbcType="VARCHAR" property="province" />
			<result column="city" jdbcType="VARCHAR" property="city" />
			<result column="area" jdbcType="VARCHAR" property="area" />
			<result column="address" jdbcType="VARCHAR" property="address" />
			<result column="manager_name" jdbcType="VARCHAR" property="managerName" />
			<result column="manager_phone" jdbcType="VARCHAR" property="managerPhone" />
			<result column="status" jdbcType="VARCHAR" property="status" />
		</association>
		<association property="zxUserPrinterApply"
			javaType="com.zx.share.platform.bean.zx.ZxUserPrinterApply">
			<result column="id" jdbcType="BIGINT" property="id" />
			<result column="user_id" jdbcType="BIGINT" property="userId" />
			<result column="printer_id" jdbcType="BIGINT" property="printerId" />
			<result column="status" jdbcType="INTEGER" property="status" />
			<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		</association>
		<association property="sysUser"
			javaType="com.zx.share.platform.bean.sys.SysUser">
			<result column="username" jdbcType="VARCHAR" property="username" />
			<result column="createUserId" jdbcType="BIGINT" property="createUserId" />
		</association>
		
	</resultMap>

    <resultMap id="userDetailsBean" type="com.zx.share.platform.vo.wechat.response.UserDetailsBean">
        <id column="id" property="id"/>
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="open_id" property="openId" jdbcType="VARCHAR"/>
        <result column="username" property="userName" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickName" jdbcType="VARCHAR"/>
        <result column="gen" property="gen" jdbcType="VARCHAR"/>
        <result column="wechat_id" property="weChatId" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="INTEGER"/>
        <result column="user_status" property="userStatus" jdbcType="INTEGER"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="portrait" property="portrait" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="is_lock" property="isLock"/>
    </resultMap>

    <resultMap id="attorneyDetailsBean" type="com.zx.share.platform.vo.wechat.response.AttorneyDetailsBean">
        <result column="work_year" property="workYear" jdbcType="VARCHAR"/>
        <result column="work_org" property="workOrg" jdbcType="VARCHAR"/>
        <result column="work_num" property="workNum" jdbcType="VARCHAR"/>
        <result column="identity_card_img" property="identityCardImg" jdbcType="VARCHAR"/>
        <result column="attorney_card_img" property="attorneyCardImg" jdbcType="VARCHAR"/>
        <result column="check_img" property="checkImg" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findByUnionId" resultMap="userResultBean">
        select nickname,is_lock,id,user_type,user_status,user_code,username,mobile,union_id,open_id,password from zx_user where union_id=#{0,jdbcType=VARCHAR}
    </select>

    <select id="findByOpenId" resultMap="userResultBean">
        select nickname,user_type,user_status,user_code,username,mobile,union_id,open_id,password from zx_user where open_id=#{0,jdbcType=VARCHAR}
    </select>

    <insert id="save" parameterType="com.zx.share.platform.vo.user.UserRequestBean"  keyProperty="id" useGeneratedKeys="true">
        insert into zx_user(
            user_code,
            open_id,
            username,
            nickname,
            age,
            province,
            city,
            portrait,
            user_type,
            user_status,
            is_lock
        )
        values(
            #{userCode},
            #{openId},
            #{nickName},
            #{nickName},
            #{sex},
            #{province},
            #{city},
            #{headImgUrl},
            #{userType},
            #{userStatus},
            #{isLock}
        )
    </insert>

    <update id="update" parameterType="com.zx.share.platform.vo.wechat.request.UserUpdateBean">
        update zx_user set user_code=#{userCode}
        <if test="wechatId!=null">
            ,wechat_id=#{wechatId}
        </if>
        <if test="mobile!=null">
            ,mobile=#{mobile}
        </if>
        <if test="portrait!=null">
            ,portrait=#{portrait}
        </if>
        <if test="age!=null">
            ,age=#{age}
        </if>
        <if test="province!=null">
            ,province=#{province}
        </if>
        <if test="city!=null">
            ,city=#{city}
        </if>
        <if test="area!=null">
            ,area=#{area}
        </if>
        <if test="address!=null">
            ,address=#{address}
        </if>
        <if test="openId != null">
            ,open_id=#{openId}
        </if>
        <if test="gen!=null">
            ,gen=#{gen}
        </if>
        where user_code = #{userCode}
    </update>


    <delete id="deleteAttorney">
        delete from zx_user_attorney where user_code=#{code}
    </delete>

    <delete id="deleteAttorneyDomain">
        delete from zx_user_attorney_domain where user_code=#{code}
    </delete>

    <insert id="saveAttorney" parameterType="com.zx.share.platform.vo.wechat.request.UserUpdateBean">

          insert into zx_user_attorney(user_id,user_code,work_year,work_num,work_org,identity_card_img,attorney_card_img,check_img)
          values(
            #{userId},
            #{userCode},
            #{workYear},
            #{workNum},
            #{workOrg},
            #{identityCardImg},
            #{attorneyCardImg},
            #{checkImg}
          )

    </insert>
    <insert id="saveAttorneyDomain" parameterType="java.util.List">
        insert into zx_user_attorney_domain(user_id,user_code,domain_code)
         values
        <foreach collection="list" item="bean" separator=",">
        (#{bean.userId},#{bean.userCode},#{bean.domainCode})

        </foreach>
    </insert>

    <update id="updateAttorneyDomain">
        update zx_user_attorney_domain a join sys_dictionary d on a.domain_code=d.`code` set a.domain_id=d.id where a.user_code=#{code,jdbcType=VARCHAR}
    </update>

    <select id="findByCode" resultMap="userDetailsBean">
        select nickname,is_lock,id,user_type,user_status,user_code,username,mobile,union_id,open_id,age,wechat_id,portrait,city,area,gen,province from zx_user where user_code=#{code,jdbcType=VARCHAR} limit 1

    </select>

    <select id="findByAttorney" resultMap="attorneyDetailsBean">
        select user_id,user_code,work_year,work_num,work_org,identity_card_img,attorney_card_img,check_img from zx_user_attorney where user_code=#{code,jdbcType=VARCHAR} limit 1
    </select>

    <select id="findByAttorneyDomains" resultType="java.lang.String">
        select d.`name` from zx_user_attorney_domain a join sys_dictionary d on a.domain_code=d.`code` where a.user_code= #{code,jdbcType=VARCHAR}
    </select>

    <select id="findMaxId" resultType="java.lang.Long">
        select max(id) from zx_user where user_code like #{code,jdbcType=VARCHAR}
    </select>

    <select id="findByMobile" resultMap="userDetailsBean">
        select nickname,is_lock,id,user_type,user_status,user_code,username,mobile,union_id,password,open_id,age,wechat_id,portrait,city,area,gen,province from zx_user where mobile=#{mobile,jdbcType=VARCHAR} limit 1

    </select>

    <update id="updateIpLoginTime">
        INSERT INTO sys_user_login(user_id,login_ip,login_time,user_type)
        VALUES (#{userId},#{ip},now(),2)
    </update>
    
    <select id="newsSelect" resultType="com.zx.share.platform.bean.zx.ZxUser"
		resultMap="Map">
		SELECT
zx_printer_manager.printer_code,
zx_printer_manager.latitude,
zx_printer_manager.province,
zx_printer_manager.city,
zx_printer_manager.area,
zx_printer_manager.address,
zx_printer_manager.manager_name,
zx_printer_manager.manager_phone,
zx_printer_manager.`name`,
zx_user_printer_apply.create_time,
zx_user_printer_apply.id,
zx_user_printer_apply.`status`,
zx_printer_manager.remark,
zx_printer_manager.`status`,
zx_user.nickname,
zx_printer_manager.longitude,
sys_user.username,
zx_printer_manager.id,
zx_user.id,
zx_user.user_code
FROM
zx_user_printer_apply ,
zx_printer_manager ,
zx_user ,
sys_user
WHERE
zx_user.id = zx_user_printer_apply.user_id AND
zx_user_printer_apply.printer_id = zx_printer_manager.id AND
zx_printer_manager.create_id = sys_user.create_user_id AND
zx_user_printer_apply.`status`=0 AND
zx_user.username = #{name}
		
	</select>
	
	
	<select id="codeSelect" resultType="com.zx.share.platform.bean.zx.ZxUser"
		resultMap="Map">
		SELECT
zx_printer_manager.printer_code,
zx_printer_manager.latitude,
zx_printer_manager.province,
zx_printer_manager.city,
zx_printer_manager.area,
zx_printer_manager.address,
zx_printer_manager.manager_name,
zx_printer_manager.manager_phone,
zx_printer_manager.`name`,
zx_user_printer_apply.create_time,
zx_user_printer_apply.id,
zx_user_printer_apply.`status`,
zx_printer_manager.remark,
zx_printer_manager.`status`,
zx_user.nickname,
zx_printer_manager.longitude,
sys_user.username,
zx_printer_manager.id,
zx_user.id,
zx_user.user_code
FROM
zx_user_printer_apply ,
zx_printer_manager ,
zx_user ,
sys_user
WHERE
zx_user.id = zx_user_printer_apply.user_id AND
zx_user_printer_apply.printer_id = zx_printer_manager.id AND
zx_printer_manager.create_id = sys_user.create_user_id AND
zx_user_printer_apply.`status`=0 AND
zx_printer_manager.printer_code = #{code}
	</select>
	
	<select id="selectByUcode" resultType="com.zx.share.platform.bean.zx.ZxUser"
		resultMap="Map">
		select * from zx_user where user_code=#{Ucode}
	</select>
</mapper>