<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.share.platform.wechat.mapper.order.ZxOrderMapper">
    <resultMap id="baseResultMap" type="com.zx.share.platform.bean.zx.ZxOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="file_url" jdbcType="VARCHAR" property="fileUrl"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="order_num" jdbcType="VARCHAR" property="orderNum"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="pay_id" jdbcType="BIGINT" property="payId"/>
        <result column="pay_code" jdbcType="VARCHAR" property="payCode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
        <result column="printer_id" jdbcType="BIGINT" property="printerId"/>
        <result column="printer_code" jdbcType="VARCHAR" property="printerCode"/>
        <result column="order_user_code" jdbcType="VARCHAR" property="orderUserCode"/>
        <result column="order_user_id" jdbcType="BIGINT" property="orderUserId"/>
    </resultMap>

    <resultMap id="orderResultBean" type="com.zx.share.platform.vo.wechat.response.OrderResultBean">
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="order_num" jdbcType="VARCHAR" property="orderNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="printer_code" jdbcType="VARCHAR" property="printerCode"/>
        <result column="order_user_code" jdbcType="VARCHAR" property="orderUserCode"/>
    </resultMap>


    <select id="queryList" resultType="com.zx.share.platform.bean.zx.ZxOrder"
            resultMap="BaseResultMap">

	</select>

    <select id="findByOrderCode" resultMap="baseResultMap">
        select order_code,status,order_num,pay_time,pay_code,pay_status from zx_order where order_code = #{0,jdbcType=VARCHAR}
    </select>

    <select id="getOrderCode" resultMap="orderResultBean">
        select order_code,status,order_num,create_time,printer_code,order_user_code from zx_order where order_code = #{0,jdbcType=VARCHAR}
    </select>

    <update id="updateOrderStatus">
        update zx_order set status=#{1,jdbcType=INTEGER} where order_code = #{0,jdbcType=VARCHAR}
    </update>

    <select id="page" resultMap="orderResultBean" parameterType="com.zx.share.platform.vo.wechat.request.OrderQueryBean">
        select order_code,status,order_num,create_time,printer_code,order_user_code from zx_order
    </select>

    <select id="pageCount" resultType="java.lang.Integer" parameterType="com.zx.share.platform.vo.wechat.request.OrderQueryBean">
        select count(1) from zx_order
    </select>
</mapper>