<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.share.platform.wechat.mapper.order.ZxOrderPrinterFileMapper">
  <resultMap id="BaseResultMap" type="com.zx.share.platform.bean.zx.ZxOrderPrinterFile">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="file_id" jdbcType="BIGINT" property="fileId" />
    <result column="file_code" jdbcType="VARCHAR" property="fileCode" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="printer_num" jdbcType="INTEGER" property="printerNum" />
    <result column="paper_type" jdbcType="BIGINT" property="paperType" />
    <result column="paper_colcor" jdbcType="BIGINT" property="paperColcor" />
    <result column="paper_usage" jdbcType="BIGINT" property="paperUsage" />
  </resultMap>

  <select id="getOrderFile" resultMap="BaseResultMap">
    select * from zx_order_printer_file where order_code=#{0}
  </select>
  
</mapper>